<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='css/login.css') }}">
        <link rel="stylesheet" href="/static/css/login.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Вход</title>
    <center> <img src="/static/logo/Frame 2.png" width="222" alt=""></center>
   
</head>
<body>
    <center> <input type="text" placeholder="Ник"id="user"/></center>
   <center> <input type="password" placeholder="Пароль" id="password"></center>
   
</body>
<div class="next">
    
<a href="/home"> <img src="/static/logo/Frame 3.png" width="51" alt=""></a>


</div>
<div class="how">
<a href="/rules"><img src="/static/logo/howtouse.png"  width="352px" height=""></a>
</div>
</html>>