<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="/static/css/main.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>WeShop</title>
</head>
<header>
    <img src="/static/logo/Frame 2.png" width="256" alt="">
    <nav>
        <ul>
            <li><a href="https://t.me/wiuckm_bot"><img src="/static/logo/ad.png" width="190"  alt=""></a></li>
            <li><a href="/myprofile"><img src="/static/logo/Myprofile.png" width="140"  alt=""></a></li>
            <li><a href="/rules"><img src="/static/logo/howtouse.png" width="190"  alt=""></a></li>
        </ul>
    </nav>
</header>
<body>
    
</body>
</html>